body {
    margin: 20px;
    /*
    Challenge:
    Set the font to Verdana.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #b9b8b8;
}

.avatar {
    width: 150px;
    border-radius: 5px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-top: 6px solid #d6cbd3;
    border-bottom: 6px solid #d6cbd3;
    border-radius: 5px;
}

.border-blue {
    border: 1px dotted blue;
}
    